.countriesHome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 420px;
}

.errorBox{
    width: 50%;
    height: 20%;
    border-radius: 2px;
    margin: 10px;
    padding: 15px 10px 15px 50px;
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

