.card{
    margin: 10px;
    width: 200px;
    height: 230px;
    border-width: 6px;
    border-radius: 5px;
    box-shadow: rgb(66, 124, 185) 0px 20px 30px -10px;
    background-color: rgba(0, 0, 0, 0.377);
}

.card img{
    object-fit: contain;
    width:130px;
    height:150px
}